.hor {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 5px;
    margin-left: 5px;
}

.hor mat-card-title {
    text-align: center;
}

.scroll {
    padding: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.scroll app-p-listing {
    display: inline-block;
}

.agency {
    height: 50px;
    ;
}

.carousel-item {
    margin-right: auto;
}

::ng-deep .carousel-control-next,
::ng-deep .carousel-control-prev {
    width: 5%;
}

::ng-deep .carousel-control-next:hover,
::ng-deep .carousel-control-prev:hover {
    /* width: 5%; */
    background: #d27e04;
    opacity: .7;
    cursor: pointer;
}